@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0px;
  background: #d0f2ec;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #04d9b2;
}

.custom-container {
  max-width: 1280px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #04d9b2;
}

.title {
  color: #fff;
  font-weight: 900;
}

.link-content {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  margin-left: 10px;
  color: #fff;
  padding: 5px;
  background-color: #02735e;
  border: none;
  border-radius: 4px;
}

.link:hover {
  background-color: #00997d;
}

.tabela {
  border-collapse: collapse;
  width: 100%;
}

.tabela th,
.tabela td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.tabela th {
  background-color: #02735e;
  color: #fff;
}

.tabela tr:hover {
  background-color: #f5f5f5;
}

.tabela tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.bg-section {
  display: flex;
  background: #04d9b2;
  width: 1000px;
  margin: auto;
}

h3 {
  text-align: center;
}

.btn-save {
  background-color: green;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
}

.btn-save:hover {
  background-color: rgb(3, 168, 3);
}

.btn-delete {
  background-color: rgba(214, 0, 0, 0.87);
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: red;
}

.form-styled {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.input-data {
  border: 1px solid #d0f2ec;
  border-radius: 4px;
  height: 30px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
}

.input-data:hover {
  background-color: #d0f2ec;
}

.input-data:focus-visible {
  outline: 1px solid #69868c;
}

.bg-cadastro {
  width: 400px;
  height: 300px;
  background-color: #04d9b2;
  margin: auto;
  border-radius: 4px;
}
